{% extends 'home/../base.html' %}

{% block content %}
    <section class="section">
        <div class="columns is-multiline">
            {% for post in post_list %}
                <div onclick="window.location = '{% url 'post_detail' post.slug  %}'" class="column is-one-quarter-desktop is-half-tablet">
                    <div style="height: 100%" class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img style="filter: blur(0px)" src="{{ post.featured_image.url }}" alt="">
                            </figure>
                            <div class="card-content is-overlay is-clipped">
                                <span class="tag is-success">{{ post.category }}</span>
                            </div>
                            <div class="content title is-5">
                                {{ post.title|slice:80 }} <br>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}


